header img {
    width: 150px;
}

header {
    background-color: rgb(81, 49, 133);
    border-radius: 20px;
}

.one {
    width: 1500px;
    height: 700px;
    border-radius: 20px;
}

header p {
    float: right;
    margin-right: 10px;
    color: white;
    font-size: 20px;
}

nav a {
    color: white ;
    text-decoration: none;
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    color: orange;
    border-top: 3px lightblue solid;
}

nav{
    padding-bottom: 10px;
    border-radius: 30px;
}

body {
    background-color: rgb(233, 137, 1) ;
}

.two {
   
    width: 160px;
    height: 90px;
    border-radius: 30px;
    margin: 10px;
}

.three {
   
    width: 160px;
    height: 90px;
    border-radius: 30px;
    margin: 10px;
}

.platforms{
    top: 570px;
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: flex-end;
}
